body{
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: left;
}
#container{
    display: grid;
    height: 90vh;
    width: 30vw;
    grid-gap: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:'display display display display'
                        'reset reset delete divide'
                        'seven eight nine multiply'
                        'four five six minus'
                        'one two three plus'
                        'dot zero zero equals';
}

#displayScreen{
    background-color: black;
    color: white;
    grid-area: display ;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: xx-large;
    border: 2px solid black;
    padding: 5% 1%;
}
.button{
    font-size: 30px;
    border: 2px solid black;
    
}

.button:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.buttonReset {
    grid-area: reset;
}

.buttonDelete {
    grid-area: delete;
}

.buttonDivide {
    grid-area: divide;
}
.buttonMultiply {
    grid-area: multiply;
}

.buttonMinus {
    grid-area: minus;
}
.buttonPlus {
    grid-area: plus;
}
.buttonDot {
    grid-area: dot;
}
.button0{
    grid-area: zero;
}

.buttonEquals {
    grid-area: equals;
}

.button1{
    grid-area: one;
}
.button2 {
    grid-area: two;
}
.button3 {
    grid-area: three;
}
.button4 {
    grid-area: four;
}
.button5 {
    grid-area: five;
}

.button6 {
    grid-area: six;
}
.button7 {
    grid-area: seven;
}
.button8 {
    grid-area: eight;
}

.button9 {
    grid-area: nine;
}
.orange{
    background-color: orange;
    color: white;
}
